Django==4.2.3
requests
djangorestframework
markdown
django-filter
djangorestframework-simplejwt
django-ckeditor
PyYAML
uritemplate
Pygments
django-guardian
psycopg2-binary
pillow
whoosh
django-haystack
jieba
django-concurrency
django-simpleui
django-import-export
gevent
gunicorn
oss2
wechatpayv3
django-compressor
sentry-sdk[django]