Django==3.2
django-utils-six
# psycopg2
# PyMySQL

requests
pillow
django-ckeditor
whoosh
django_haystack
jieba

# uwsgi
# uvicorn

djangorestframework
pygments  # We'll be using this for the code highlighting