<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小组管理</title>
</head>
<body>
<div align="center">
    <h1>修改小组</h1>
    <hr>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="id" id="id" value="{{ group.id }}">
        <div>
            <label>名称：</label>
            <input type="text" name="name" id="name" value="{{ group.name }}">
        </div>
        <br>
        <div>
            <label>备注：</label>
            <input type="text" name="script" id="script" value="{{ group.script }}">
        </div>
        <div>
            <input type="submit" value="保存">
        </div>
    </form>
    <div style="color: red">{{ error_info }}</div>
</div>
</body>
</html>